*{
    margin: 0;
    padding: 0;
}
body{
    background-color: wheat;
    font-family: "Sofia Sans Semi Condensed", "Arial", san-serif;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    box-shadow: inset 0 0 10px rgba(97, 97, 97, 0.5);
}
.atm{
    box-sizing: border-box;
    border: 2px solid grey;
    background: rgb(182, 182, 182);
    background: linear-gradient(0deg, rgb(82, 82, 82) 0%, rgba(161,161,161,1) 100%, rgba(191,191,191,1) 100%);
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: inset 0 0 10px rgba(97, 97, 97, 0.5);
}


.atm--buttons{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 100px;
    width: 100px;
    height: 600px;
}
.button {
    width: 80px;
    height: 50px;
    border: 2px solid black;
}
.button--link{
    width: 80px;
    height: 50px;
    background-color: rgb(239, 239, 239);
    box-sizing: border-box;
    border: 2px solid rgb(35, 35, 35);
    box-shadow: inset 0 0 10px rgba(97, 97, 97, 0.5);
}
.button--link:active{
    background-color: rgb(202, 202, 202);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(26, 26, 26);
}

.shadowed {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.atm--display--balance, .atm--display{
    width: 595px;
    height: 595px;
    box-sizing: border-box;
    border: 2px solid grey;
    background-color: rgba(159, 242, 255, 0.758);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-left: 20px;
    padding-top: 60px;
    box-shadow: inset 0px 0px 15px rgba(38, 38, 39, 0.5) ;
    text-shadow: 2px 2px 2px #ce5a378c;
    border: 1px solid black;
}
.atm--display--balance--text, .atm--display--title{
    font-size: 25px; 
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
}
.atm--display--balance--bottom, .atm--display--bottom   {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 30px;
    padding-bottom: 55px;
    font-size: 20px; 
    text-transform: uppercase;
}
.atm--input{
    margin-top: 10px;
    font-size: 30px;
    width: 550px;
    height: 50px;
    box-shadow: inset 0 0 10px rgba(97, 97, 97, 0.5);
    text-shadow: 2px 2px 2px #CE5937;
    font-family: "Press Start 2P", "Arial", san-serif;
    border-radius: 20px;
    border: 1px solid grey;
    outline: none;
}